ModuloCredCob/frmSelTipoCobro.vb.orig
ModuloCredCob/frmSelTipoCobro.resx.orig
ModuloCredCob/bin/nunit.framework.xml
ModuloCredCob/bin/log4net.xml
ModuloCredCob/bin/ResguardoCyC.dll.config
ModuloCredCob/bin/RTGMGateway.dll.config
ModuloCredCob/bin/ModuloCredCob.exe.lastcodeanalysissucceeded
ModuloCredCob/bin/ModuloCredCob.exe.CodeAnalysisLog.xml
ModuloCredCob/bin/Fixes2.txt
ModuloCredCob/bin/Fixes.txt
ModuloCredCob/bin/Exportacion.tm3
ModuloCredCob/bin/Catalogos.HTML
ModuloCredCob/bin/BCDatos.xsd
ModuloCredCob/CyC 2.0.0.17.rar
ModuloCredCob/.vs/ModuloCredCob/v15/Server/sqlite3/storage.ide-wal
ModuloCredCob/.vs/ModuloCredCob/v15/Server/sqlite3/storage.ide-shm
ModuloCredCob/.vs/ModuloCredCob/DesignTimeBuild/.dtbcache
